html {
  position: relative;
  min-height: 100%;
}

body {
	margin: 0 0 30px;
	font-family: 'Roboto', sans-serif;
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 30px;
	width: 100%;
	padding-top: 1rem;
	background-color: #efefef;
	text-align: center;
}

.content {
	padding-bottom: 6rem;
	min-height: 100%;
}
